*{
    margin: 0;
    background-color: black;
}
.nav-bar{
    background-color: rgb(36, 36, 36);
    height: 70px;
    width: 64rem;
    display: flex;
}
#img-1{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 10px 6px 0 6px;
}
#home{
    background-color: rgb(36, 36, 36);
    height: 3rem;
    width: 4rem;
    margin: 10px 6px 0 6px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
section{
    background-color: rgb(36, 36, 36);
    height: 3rem;
    width: 20rem;
    margin: 10px 6px 0 6px;
    display: flex;
    align-items: center; 
    justify-content: center;

}
.text{
    width: 500px;
    height:25px;
}
.toff{
    background-color: rgb(36, 36, 36);
    height: 3rem;
    width: 5rem;
    margin: 10px 6px 0 6px;
    display:inline;
    align-items: center; 
    justify-content: center;
}